# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.gitignore 

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Ignoring folders to upload on GitHub
.ipynb_checkpoints/
venv/
__pycache__/
gaus_train_c_50.h5
gaus_val_c_50.h5
Untitled.ipynb
model.png
gaus_train_c_50_toy.h5
gaus_val_c_50_toy.h5
data/
*.asv
*.mat
*.h5
2019-CVPR_Paper/Reslults/